*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/androidApp/build/
/androidApp/build/intermediates/javac/debug/classes/
/buildSrc/build/
/common/build/
/common/build/intermediates/javac/debug/classes/
/data/local/build/
/data/local/build/intermediates/javac/debug/classes/
/data/remote/build/
/data/remote/build/intermediates/javac/debug/classes/
/data/repository/build/
/data/repository/build/intermediates/javac/debug/classes/